body {
    background-color: #FFF9E9;
}

h1 {
    color:#211B15;
    text-align: center;
}

img {
    display: block;
    float: right;
    margin-right: 750px;
    width: 400px;
    filter: drop-shadow(4px 4px 4px #111);
}

hr {
    border: 2px solid #04abb1  ;
}

h2{
    color: #211B15;
    margin-left: 280px;
    font-family: palatino, serif;
    font-style: italic;
}

p{
    width: 730px;
}

a {
    color: #221B15;
}