body {
    background-color: #11161E;
}
h1 {
     color: #86A6C1;
    text-align: center;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif  
}
img {
    display: block;
    float: right;
    margin-right: 600px;
    width: 700px;
    filter: drop-shadow(4px 4px 4px #111);
}