
img {
    display: block;
    float: right;
    margin-right: 750px;
    width: 400px;
}

h1 {
    text-align: center;
    color: #FFFFF;
    font-style: italic;
      font-family: 'Times New Roman', Times, serif  
}